In [1]:
import pandas as pd
import os

In [2]:
folder_path = "D:\\School\\2025 Spring\\INST490\\OUR TEAM_S (Cleaned) Copy of Record Reports"

In [3]:
# Combines all EXCEL files into a singl DataFrame
all_data = []

for file in os.listdir(folder_path):
    if file.endswith('.xlsx'):
        xls = pd.ExcelFile(os.path.join(folder_path, file))
        for sheet_name in xls.sheet_names:
            df = xls.parse(sheet_name)
            df['source_file'] = file
            df['sheet_name'] = sheet_name
            all_data.append(df)

combined_df = pd.concat(all_data, ignore_index=True)

combined_df

,DATE,CONTACT,CITY & STATE,DIVISION ID,DEPT ID,ITEMS,TYPE,Unnamed: 7,QTY,ORDER#,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,EMAIL,STORAGE WEEKLY
0,2024-04-01,Frenchee Horsley,"San Diego, CA",LOSANGE,2925.0,form,destruction,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-04-01,Lara Catlett,"Washington, D.C.",WASHDC,3119.0,boxes,storage,new,11.0,285777630.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-04-03,Fernanda Ferdinand,"Wilmington, DE",PHILLY,1402.0,box,retrieve,NaN,1.0,285895031.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-04-03,Arlind Rucaj,"Boston, MA",BOSTON,2106.0,boxes/labels,supplies,NaN,200.0,285886576.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-04-03,Pam Saccu,"New Haven, CT",NEWHAVE,7090.0,labels,supplies,NaN,20.0,285886719.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
909,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
910,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
911,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
912,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Drop unnecessary columns and rows with missing values
new_df = combined_df[["DATE", "CITY & STATE", "DIVISION ID", "DEPT ID", "ITEMS", "TYPE", "QTY"]]
df_cleaned = new_df.dropna(subset=["DATE"])

In [5]:
df_cleaned["CITY & STATE"] = df_cleaned["CITY & STATE"].fillna("")

C:\Users\chldn\AppData\Local\Temp\ipykernel_24168\4061277405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["CITY & STATE"] = df_cleaned["CITY & STATE"].fillna("")

In [6]:
df_cleaned[['CITY', 'STATE']] = df_cleaned['CITY & STATE'].str.split(',', expand=True)

df_cleaned['CITY'] = df_cleaned['CITY'].str.strip()
df_cleaned['STATE'] = df_cleaned['STATE'].str.strip()
df_cleaned['COUNTRY'] = 'United States'

df_cleaned = df_cleaned.drop(columns=["CITY & STATE"])

C:\Users\chldn\AppData\Local\Temp\ipykernel_24168\3414325605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[['CITY', 'STATE']] = df_cleaned['CITY & STATE'].str.split(',', expand=True)
C:\Users\chldn\AppData\Local\Temp\ipykernel_24168\3414325605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[['CITY', 'STATE']] = df_cleaned['CITY & STATE'].str.split(',', expand=True)
C:\Users\chldn\AppData\Local\Temp\ipykernel_24168\3414325605.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['CITY'] = df_cleaned['CITY'].str.strip()
C:\Users\chldn\AppData\Local\Temp\ipykernel_24168\3414325605.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['STATE'] = df_cleaned['STATE'].str.strip()
C:\Users\chldn\AppData\Local\Temp\ipykernel_24168\3414325605.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['COUNTRY'] = 'United States'

In [7]:
# Fill in missing values in DEPT ID and DIVISION ID columns
df_cleaned["DEPT ID"] = df_cleaned["DEPT ID"].fillna(0)
df_cleaned["DIVISION ID"] = df_cleaned["DIVISION ID"].fillna("")

In [8]:
# Drop timestamps from the DATE column
df_cleaned["DATE"] = pd.to_datetime(df_cleaned["DATE"]).dt.date

In [10]:
# Convert data types
df_cleaned = df_cleaned.fillna(0).astype({"DATE": str, "CITY": str, "STATE": str, "COUNTRY": str,"DEPT ID" : int, "TYPE" : str, "ITEMS" : str, "QTY": int})
df_cleaned.head()

,DATE,DIVISION ID,DEPT ID,ITEMS,TYPE,QTY,CITY,STATE,COUNTRY
0,2024-04-01,LOSANGE,2925,form,destruction,1,San Diego,CA,United States
1,2024-04-01,WASHDC,3119,boxes,storage,11,Washington,D.C.,United States
2,2024-04-03,PHILLY,1402,box,retrieve,1,Wilmington,DE,United States
3,2024-04-03,BOSTON,2106,boxes/labels,supplies,200,Boston,MA,United States
4,2024-04-03,NEWHAVE,7090,labels,supplies,20,New Haven,CT,United States

In [11]:
# Capitalize the first letter of each word in TYPE and ITEMS columns
df_cleaned["TYPE"] = df_cleaned["TYPE"].str.capitalize()
df_cleaned["ITEMS"] = df_cleaned["ITEMS"].str.capitalize()

In [12]:
# Export the dataframe to an Excel file
df_cleaned.to_excel("total_data.xlsx", index=False)